body {
    color: #000;
    background: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.signup-form {
    /* border: 0.2px solid #969fa4; */
    width: 450px;
    margin: 75px auto;
    padding: 30px 0;
    border-radius: 8px;
    font-size: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.form-control {
    height: 40px;
    box-shadow: none;
    color: #969fa4;
}

.form-control:focus {
    border-color: rgb(15, 105, 240);
}

.form-control, .btn {
    border-radius: 7px;
}

.signup-form h2 {
    color: #636363;
    margin-bottom: 15px;
    position: relative;
    text-align: center;
}

.signup-form h2:before,
.signup-form h2:after {
    content: "";
    height: 2px;
    width: 25%;
    background: #d4d4d4;
    position: absolute;
    top: 50%;
    z-index: 2;
}

.signup-form h2:before {
    left: 0;
}

.signup-form h2:after {
    right: 0;
}

.signup-form .hint-text {
    color: #999;
    text-align: center;
    margin-bottom: 30px;
}

.signup-form .form-group {
    margin-bottom: 20px;
}

.signup-form input[type="checkbox"] {
    margin-top: 3px;
}

.signup-form .btn {
    font-size: 17px;
    font-weight: bold;
    width: 392px;
    outline: none !important;
    margin-left: 5px;
}

.signup-form .row div:first-child {
    padding-left: 40px;
}

.signup-form .row div:last-child {
    padding-right: 40px;
}

.signup-form a:hover {
    text-decoration: none;
} 

.signup-form form a {
    color: #5cb85c;
    text-decoration: none;
}

.signup-form form a:hover {
    text-decoration: underline;
}

.signup-form input[type="password"], input[type="email"] {
    width: 393px;
    margin: 5.6px;
    border-radius: 7px;
    border: 0.1px solid #969fa4;
    padding: 15px;
    margin-left: 29px;
    height: 40px;
} 

.form-check-label {
    display: flex;
    align-items: center;
    gap: 6.5px;
    margin-left: 38px;
    color: #969fa4;
}

.signup-form .teks-login {
    color: #969fa4;
    position: relative;
    top: 20px;
}